html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(172, 43, 43);
}

#root {
  margin: 0 auto;
  text-align: center;
}

/* Navbar */ 
.navbar { 
  background-color: #222; 
  padding: 1rem 2rem; 
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
}

.nav-links { 
  list-style: none;
  display: flex; 
  gap: 2rem; 
  margin: 0; 
  padding: 0; 
} 

.nav-links li a { 
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

.nav-links li a:hover { 
  text-decoration: underline; 
}